@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1688325342 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1688325342 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 118px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1688325342 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1688325342 svg {
        width: calc(127% + 1.3px);
        height: 110px;
    }
}